//colors
$dark-blue: #1a1b25;
$secondary-blue: #34353d;

$white: #ffffff;

$grey: #282a35;

$yellow: #b79501;
$yellow-hover: #d5ba01;

//border radius
$br-large: 24px;

//shadows
$input-shadow: 0 0 0 2px rgba(183, 149, 1, 0.2);

//sizes
$sidebar-width: 300px