//colors
$dark-blue: #1a1b25;
$secondary-blue: #34353d;

$white: #ffffff;

$grey: #282a35;

$yellow: #b79501;
$yellow-hover: #d5ba01;

//border radius
$br-large: 24px;
$br-medium: 12px;

//shadows
$input-shadow: 0 0 0 2px rgba(183, 149, 1, 0.2);
$card-shadow: 0 0  5px 2px $dark-blue;

//sizes
$sidebar-width: 300px;

//padding
$p-card-default: 12px 18px;